In [1]:
import mysql.connector
import os
from dotenv import load_dotenv

load_dotenv()

In [2]:
# Making the connection
cnx = mysql.connector.connect(
            user=os.getenv('DB_USER'),
            password=os.getenv('DB_PASSWORD'), 
            host=os.getenv('DB_HOST'),
            database=os.getenv('DB_NAME'))

In [3]:
cursor = cnx.cursor()

In [5]:
# Making the tables
createQuery = '''
CREATE TABLE store(
    store_id INT NOT NULL,
    PRIMARY KEY (store_id));

CREATE TABLE physicalStore(
    store_id INT NOT NULL,
    phone_number VARCHAR(20),
    address VARCHAR(100),
    zip_code VARCHAR(10),
    city VARCHAR(50),
    state VARCHAR(50),
    country VARCHAR(50),
    weekday_open_time time,
    weekday_close_time time,
    weekend_open_time time,
    weekend_close_time time,
    PRIMARY KEY (store_id),
    FOREIGN KEY (store_id) REFERENCES store(store_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE onlineStore(
    store_id INT NOT NULL,
    website_url VARCHAR(200),
    customer_service_phone_num VARCHAR(20),
    PRIMARY KEY (store_id),
    FOREIGN KEY (store_id) REFERENCES store(store_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE products(
    product_id INT NOT NULL,
    product_name VARCHAR(100),
    price DECIMAL(10, 2),
    product_category VARCHAR(20),
    PRIMARY KEY (product_id));

CREATE TABLE clothing(
    product_id INT NOT NULL,
    clothing_color VARCHAR(50),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE shoes(
    product_id INT NOT NULL,
    shoe_color VARCHAR(50),
    shoe_type VARCHAR(100),
    shoe_size VARCHAR(10),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE accessories(
    product_id INT NOT NULL,
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE jewelry(
    product_id INT NOT NULL,
    jewelry_material VARCHAR(50),
    jewelry_type VARCHAR(100),
    jewelry_size VARCHAR(10),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES accessories(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE wearable(
    product_id INT NOT NULL,
    wearable_color VARCHAR(50),
    wearable_size varchar(10),
    wearable_type VARCHAR(100),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES accessories(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE bags(
    product_id INT NOT NULL,
    bag_color VARCHAR(50),
    bag_type VARCHAR(100),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES accessories(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE hats(
    product_id INT NOT NULL,
    hat_color VARCHAR(50),
    hat_size VARCHAR(10),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES accessories(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE outerwear(
    product_id INT NOT NULL,
    outerwear_material varchar(50),
    outerwear_size varchar(10),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES clothing(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE sets(
    product_id INT NOT NULL,
    set_size varchar(10),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES clothing(product_id) ON UPDATE CASCADE ON DELETE CASCADE);
    
CREATE TABLE bottoms(
    product_id INT NOT NULL,
    bottoms_material VARCHAR(50),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES clothing(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE shorts(
    product_id INT NOT NULL,
    shorts_size varchar(10),
    shorts_type varchar(100),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES bottoms(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE pants(
    product_id INT NOT NULL,
    pants_size varchar(10),
    pants_length varchar(20),
    pants_type varchar(100),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES bottoms(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE skirts(
    product_id INT NOT NULL,
    skirt_size varchar(10),
    skirt_length varchar(20),
    skirt_type varchar(100),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES bottoms(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE tops(
    product_id INT NOT NULL,
    top_type VARCHAR(100),
    top_size VARCHAR(10),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES clothing(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE dressesAndJumpsuits(
    product_id INT NOT NULL,
    dressJumpsuit_type VARCHAR(100),
    dressJumpsuit_neckline varchar(50),
    dressJumpsuit_sleeve_length varchar(50),
    dressJumpsuit_material varchar(50),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES clothing(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE suits(
    product_id INT NOT NULL,
    suit_size VARCHAR(10),
    suit_material VARCHAR(50),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES clothing(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE swimwear(
    product_id INT NOT NULL,
    swimwear_type VARCHAR(100),
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES clothing(product_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE storeInventory(
    store_id INT NOT NULL,
    product_id INT NOT NULL,
    quantity INT,
    percentage_on_sale decimal(2,2),
    PRIMARY KEY (store_id, product_id),
    FOREIGN KEY (store_id) REFERENCES store(store_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id));

CREATE TABLE warehouse(
    warehouse_id int NOT NULL,
    zip_code VARCHAR(10),
    address VARCHAR(100),
    city VARCHAR(50),
    state VARCHAR(50),
    country VARCHAR(50),
    PRIMARY KEY (warehouse_id));

CREATE TABLE warehouseInventory(
    warehouse_id INT NOT NULL,
    product_id INT NOT NULL,
    quantity INT,
    PRIMARY KEY (warehouse_id, product_id));

CREATE TABLE supplies(
    warehouse_id INT NOT NULL,
    store_id INT NOT NULL,
    PRIMARY KEY (warehouse_id, store_id),
    FOREIGN KEY (warehouse_id) REFERENCES warehouse(warehouse_id),
    FOREIGN KEY (store_id) REFERENCES store(store_id));

CREATE TABLE orders(
    order_id INT NOT NULL,
    order_date DATE,
    tracking_num VARCHAR(100),
    PRIMARY KEY (order_id));

CREATE TABLE storeOrderedFrom(
    order_id INT NOT NULL,
    store_id INT NOT NULL,
    PRIMARY KEY (order_id, store_id),
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (store_id) REFERENCES store(store_id));

CREATE TABLE itemsPurchased(
    order_id INT NOT NULL,
    product_id INT NOT NULL,
    price_at_purchase decimal(10,2),
    quantity INT,
    return_status varchar(50),
    date_of_return date DEFAULT NULL,
    PRIMARY KEY (order_id, product_id),
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id));

CREATE TABLE customer(
    customer_id INT NOT NULL,
    PRIMARY KEY (customer_id));

CREATE TABLE customerOrder(
    customer_id INT NOT NULL,
    order_id INT NOT NULL,
    PRIMARY KEY(customer_id, order_id),
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id));

CREATE TABLE members(
    customer_id INT NOT NULL,
    member_id INT NOT NULL,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    phone_num VARCHAR(20),
    email VARCHAR(100),
    rewards_password VARCHAR(100),
    zip_code VARCHAR(10),
    address VARCHAR(100),
    city VARCHAR(50),
    state VARCHAR(50),
    country VARCHAR(50),
    PRIMARY KEY (customer_id),
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE nonMember(
    customer_id INT NOT NULL,
    PRIMARY KEY (customer_id),
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE inPerson(
    customer_id INT NOT NULL,
    PRIMARY KEY (customer_id),
    FOREIGN KEY (customer_id) REFERENCES nonMember(customer_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE onlineNM(
    customer_id INT NOT NULL,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    phone_num VARCHAR(20),
    email VARCHAR(100),
    address VARCHAR(100),
    zip_code varchar(10),
    city VARCHAR(50),
    state VARCHAR(50),
    country VARCHAR(50),
    PRIMARY KEY (customer_id),
    FOREIGN KEY (customer_id) REFERENCES nonMember(customer_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE paymentType(
    payment_id INT NOT NULL,
    PRIMARY KEY (payment_id));

CREATE TABLE creditInfo(
    payment_id INT NOT NULL,
    name_on_card VARCHAR(100),
    credit_card_num CHAR(16),
    cvv CHAR(4),
    expiration_date DATE,
    PRIMARY KEY (payment_id),
    FOREIGN KEY (payment_id) REFERENCES paymentType(payment_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE giftCardInfo(
    payment_id INT NOT NULL,
    gift_card_no CHAR(16),
    cvv CHAR(4),
    balance DECIMAL(10,2),
    PRIMARY KEY (payment_id),
    FOREIGN KEY (payment_id) REFERENCES paymentType(payment_id) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE orderPayment(
    order_id INT NOT NULL,
    payment_id INT NOT NULL,
    PRIMARY KEY (order_id, payment_id),
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (payment_id) REFERENCES paymentType(payment_id));

CREATE TABLE customerPayment(
    customer_id INT NOT NULL,
    payment_id INT NOT NULL,
    PRIMARY KEY (customer_id, payment_id),
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id),
    FOREIGN KEY (payment_id) REFERENCES paymentType(payment_id));
'''

In [6]:
cursor.execute(createQuery)